/* Estilos base para otimização mobile */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}

body {
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
